<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myfirstreactapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>myfirstreactapplication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyFirstReactApplication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$MyFirstReactApplication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IndustryConnectEntities" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:reactappdbserver.database.windows.net,1433;Initial Catalog=ReactAppdb;Persist Security Info=True;User ID=nalamipraz;Password=Prashpraz007;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ReactApplication.Models.IndustryConnectEntities, ReactApplication" MigrationConfiguration="ReactApplication.Migrations.Configuration, ReactApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="IndustryConnectEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ReactApplicationDataModel.csdl|res://*/Models.ReactApplicationDataModel.ssdl|res://*/Models.ReactApplicationDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:reactappdbserver.database.windows.net,1433;Initial Catalog=ReactAppdb;Persist Security Info=True;User ID=nalamipraz;Password=Prashpraz007;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>